$text-black: #2d2d34;
$text-grey: #979797;
$text-pink: #b97375;
$text-lightgrey: #f6f4f4;
$background-pink: #b97375;
$background-white: #ffffff;
$background-lightgrey: #f6f4f4;
$limarker: #e2dcde;
$limarkerborder: #f1e4e8;
